body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aad0ffdc;
    min-height: 100vh;
}
.title{
    color: #000c24;
    text-align: center;
    text-shadow: 3px 3px 10px #000c24;
}

.btn{
    height: 50px;
    width: 150px;
    background-color: #1bff6b;
    color: #000;
    border: 2px solid #000000;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: .5s;
    text-align: center;
}
.btn:hover,:focus{
    background-color: #000;
    color: #1bff6b;
    border: 2px solid #1bff6b;
    box-shadow: 3px 3px 10px #1bff6b;
    transform: scale(1.03);
    cursor: pointer;
}

.err{
    color: #ff2c2c;
    text-shadow: 3px 3px 10px #ff2c2c;
    text-align: center;
}